# Object files
*.o

# Libraries
*.lib
*.a
*.hi

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.api

*.eventlog

# Compiled using make
seq
mpi
haskell
gph
openmp
